/*样式说明
 *1.可以通过修改tableStyle()方法修改表格样式，如果不需要支持IE6或不需要使用伪类，可以直接通过css设置
 *2.可以通过修改currPageStyle()方法修改当前页面的样式，如果不需要支持IE6或不需要使用伪类，可以直接通过css设置
 *3.可以通过修改提供的样式模版table.less修改表格样式，可以直接修改
 *4.页面ul的ID是 page-ul   *   上一页ID是 prev   *   下一页ID是 next  *  当前页码信息的li的class是 page-info 页码class是 page
 *5.切换每页显示的记录上的id 是 pageSelect
*/
.clear {
  clear: both;
}
#table-area {
  width: 800px;
  position: relative;
}
#table-area #table {
  width: 100%;
  line-height: 1.5em;
  border-collapse: collapse;
}
#table-area #table th {
  text-align: left;
  border-bottom: 2px solid #ccc;
  padding: 5px 10px;
}
#table-area #table td {
  border-bottom: 1px solid #ccc;
  padding: 3px 10px;
}
#table-area ul {
  position: relative;
  right: 0;
  bottom: 0;
  float: right;
}
#table-area ul li {
  float: left;
  list-style: none;
  padding: 3px 5px;
  font-size: 14px;
  font-family: 'microsoft yahei';
}
#table-area ul .page {
  border: 1px solid #ccc;
  margin: 0 2px;
}
#table-area #pageSelect {
  float: left;
  margin: 20px 10px;
}
