#table-area{
    width: 800px;
        #table{
            width: 100%;
            line-height: 1.5em;
            border-collapse: collapse;
            th{
                text-align: left;
                border-bottom:2px solid #ccc;
                padding: 5px 10px;
            }//th end
            td{
                border-bottom:1px solid #ccc;
                padding: 3px 10px;
            }
        }//table end
        ul{
            li{
                float: left;
                list-style: none;
                padding: 3px 5px;
            }
        }
}//table-area end